.text-nav-tabs {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 12px;
  border-bottom: 0.5px solid #1B1B1B;
}

.text-nav-tabs .text-nav-tab {
  color: #00000080;
  background-color: transparent;
  padding: 5px;
  margin: 0px 10px 0px 0px;
  font-size: 13px;
  font-weight: 600;
  border:none;
}

.text-nav-tabs .text-nav-tab.active {
  color: #000000;
}
